body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
}

header {
  background: #cfc1c9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #030202;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
  margin: 0;
  font-size: 1.8rem;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#calendar {
  margin-top: 20px;
}

.task {
  background: #f4f4f4;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.task:hover {
  background: #f0e8e8;
}
.task button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.task button:hover {
  background-color: #ccc;
}

.delete-button:hover {
  background-color: rgb(239, 83, 83);
}
#Todo-form {
  padding: 25px;
  border: 1px solid #9990d1;
  background-color: #eef3dd;
  border-radius: 8px;
  margin-bottom: 20px;
}
.save-button:hover {
  background-color: green;
}
.cancel-button:hover {
  background-color: red;
}
#bell-container {
  position: relative;
  cursor: pointer;
}
#bell {
  width: 40px;
}
#notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  display: none;
}
#bell-container:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.view-buttons button {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #d190b7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-buttons button:hover {
  background-color: #b37498;
}
/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  main {
    padding: 15px;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
  }

  .task button {
    margin-top: 10px;
    margin-left: 0;
  }
}
